body {
  background-color: inherit;
  color: inherit;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  padding: 80px;
}

.fade-up-group > * {
  opacity: 0;
  transform: translateY(10px) translateZ(0);
  animation: 
    fadeUpMove 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards,
    fadeUpOpacity 0.65s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  animation-delay: calc(var(--i, 0) * 0.12s), calc(var(--i, 0) * 0.12s);
}

.name {
  font-weight: 900;
}

.subtitle {
  font-weight: 400;
  color: #a1a1aa;
  margin-top: -25px;
}

.about {
  font-weight: 400;
  color: #a1a1aa;
}

.icon {
  border-radius: 50%;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
}

html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: black;
  color: white;
}

.icon-title {
  display: flex;
  align-items: center;
  gap: 8px;
}


@keyframes fadeUpMove {
  to {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes fadeUpOpacity {
  to {
    opacity: 1;
  }
}
